body{
    background: linear-gradient(to right, #e1ff00, #00ff00);
    text-align: center;
}

h1{
    font: 600 3.5em 'Raleway', sans-serif;
    text-decoration: underline;
}
.color{
    margin: 10px;
}