.done {
  text-decoration: line-through;
}

div {
	margin-bottom: 5px;
}

li{
	display:inline;
	margin-left: 20px;
}

.li-del:hover {
	color: #f00;
	background-color: #fff;
	border: 2px solid #f83f49; 
}